name: CI

on:
  push:
    branches: ["main"]
    tags:
      - v*
  pull_request:
    branches: ["main"]

jobs:
  main:
    name: Run ADRT Tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      # - name: unittest
      #   run: python -m unittest
      - uses: psf/black@25.1.0
